@font-face {    font-family: 'Lobster';
    src: url('Lobster/Lobster.eot');
    src: url('Lobster/Lobster.eot?#iefix') format('embedded-opentype'),
         url('Lobster/Lobster.woff') format('woff'),
         url('Lobster/Lobster.ttf') format('truetype'),
         url('Lobster/Lobster.svg#Lobster') format('svg');
}

body
{
    background-color: black;
    font-family: Trebuchet MS, Verdana, sans-serif;
}


h1
{
	font-family: 'Lobster', Arial, serif;
	font-size: 3em;
	text-align: center;
}

h2
{
	color: #6D071A;
}

.matrogne
{
	float: right;
	border: 3px solid black;
	box-shadow: 6px 6px 6px black;
}

.sous-titre
{
	text-align: center;
}
